#first, #second, #third, #fourth, .step, #seventh{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
    
#first{
    margin-top: 2em;
}

#second1, #first-left, #first-right, #third > aside, #fourth > aside, .step-details{
    display: flex;
    text-align: left;
}

#second > #second1, #second > #second2, #third > aside, #fourth > aside, .step-details{
    flex-direction: column;
    justify-content: flex-start;
}
    
#first-left > p, #first-right > aside > p, #second > aside > p, #third > aside > p, #fourth > aside > p, .step-details > p {
    color: #745464;
}

#first-left > a, #first-right > aside > a {
    text-decoration: none;
    text-transform: capitalize;
    color: #510115;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
}
    
#first-left > h1, #first-right > h1, #second > aside > h3, #third > aside > h3, #fourth > aside > h3, .guide > h1, .step-details > h3, .step-intro > h1, #sixth > h1, #seventh > form > h3 {
    color: #510115;
    text-transform: capitalize;
    font-weight: 700;
}

#first-right > h1, #first-left > h1 {
    font-size: 2.5rem;
}

#first-right > h1 {
    margin-top: .8em;
    margin-bottom: 1em;
}
    
#second, #seventh {
    margin-top: 4em;
}

#seventh > img {
    width: 35%;
}

#fourth > aside {
    width: 50%;
}

#second2 > h3, #third > aside > h3, #fourth > aside > h3 {
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

#second > aside > p, #third > aside > p, #fourth > aside > p, .step-details > p {
    font-weight: 600;
    margin-top: -1em;
    font-size: .9rem;
}

#third{
    background-color: #fff1f4;
    margin-top: 4em;
    border-radius: 5px;
}

#fourth {
    background-color: #f6e5fa;
    margin-top: 4em;
    border-radius: 5px;
}

#third > aside{
    width: 50%;
    margin-left: 1.5em;
}

.guide, #sixth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 3em;
}

#sixth{
    width: 100%;
}

.guide > h1, #sixth > h1 {
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
}

#steps-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2em;
}

.step{
    margin-top: 1em;
}

.step-intro{
    display: flex;
    justify-content: space-between;
}

.step-details > h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 500;
}

.step-intro > h1 {
    font-size: 2em;
    margin-right: 10px;
}

.step-intro > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff1f4;
}

.step-intro > div > img {
    width: 60%;
}

#sixth > form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #745464;
    background-color: #fff1f4;
    width: 30%;
    padding: 10px 1em;
    margin-top: 3em;
    margin-bottom: 1em;
}

#sixth > form > input{
    border: none;
    outline: none;
    background-color: transparent;
}

#sixth > form > img {
    width: 5%;
}

#sixth > img {
    background-color: #fff1f4;
    width: 100%;
}

#seventh{
    background-color: #f6e5fa;
    margin-bottom: 3em;
    border-radius: 5px;
    align-items: center;
}

#seventh > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 60%;
}

#seventh > form > p {
    text-transform: uppercase;
    font-weight: 500;
    color: #745464;
}

#seventh > form > h3 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: -5px;
}

#seventh > form > input {
    border: none;
    outline: none;
    background-color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em;
}

#seventh > form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 2em;
}



#seventh > form > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: #ffd700;
    color: #510115;
    font-weight: 600;
    width: 40%;
    text-transform: capitalize;
    border-radius: 8px;
    padding: 10px;
}

#seventh > form > div > p {
    color: #745464;
    font-size: 12px;
    margin-left: 1em;
    width: 60%;
}

#seventh > form > div > p > a{
    text-decoration: none;
    color: #510115;
    font-weight: 500;
    font-size: 12px;
}

/* mobile screen */
@media screen and (max-width: 768px) {

    #first-left > p, #first-left > a, #first-right > h1, span, #second2, #seventh {
        display: none;
    }

    #first, #second{
        flex-direction: column;
    }

    #first-left, #first-right{
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-top: 1em;
    }

    #first-left > img, #first-right > img {
        width: 50%;
    }

    #first-right > aside {
        width: 45%;
    }

    #first-left > h1{
        width: 45%;
        font-size: 1em;
    }

    #first-right > aside > p {
        font-weight: 500;
        font-size: 12px;
    }

    #first-right > aside > a {
        width: 100%;
        margin-top: 1em;
        font-size: 12px;
        background-color: #ffd700;
    }

    #second{
        width: 90%;
    }

    #second > img {
        width: 70%;
        margin-top: 1em;
    }

    #second1{
        width: 100%;
        justify-content: flex-start;
        text-align: left;
    }

    #second1 > h3{
        font-size: 2rem;
        margin-bottom: 1em;
    }

    #secondp{
        width: 100%;
    }

    #third > aside > h3, #fourth > aside > h3{
        margin-top: 1em;
        font-weight: 500;
        font-size: 1.3rem;
    }
    
    #third > aside > p, #fourth > aside > p{
        font-size: 12px;
    }

    #third > img, #fourth > img {
        width: 40%;
        height: 300px;
    }

    .guide > h1, #sixth > h1 {
        width: 80%;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .steps-container, #step{
        width: 100%;
    }

    #step-details, #step-int{
        margin-left: -2em;
    }

    .step-details{
        width: 50%;
    }

    #step-title{
        width: 60%;
        margin-left: -6em;
    }

    #sixth > form{
        width: 70%;
    }
}

/* desktop screen */
@media only screen and (min-width: 769px) {

    #first-left > h1, #first-right > aside {
        display: none;
    }

    #second > aside > p {
        width: 80%;
    }

    #second1{
        display: none;
    }

    #first-left, #first-right{
        width: 47%;
        flex-direction: column;
    }

    #first-left > img {
        width: 85%;
    }

    #first-left > p {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 500;
    }

    #second > aside {
        width: 50%;
    }

    #second > img {
        width: 35%;
    }
    
    #first-left > a {
        border: 1px solid #ffd700;
        width: 40%;
    }

    #third > img, #fourth > img {
        width: 40%;
    }

    .steps-container{
        width: 90%;
    }

    #step-intro > div > img {
        width: 55%;
        margin-top: -4em;
    }

    #step-details > p{
        width: 80%;
    }
    
    #step-intro{
        width: 30%;
        margin-right: 8em;
    }

    .step-intro{
        width: 25%;
    }

    .step-details > p {
        width: 85%;
    }

    .step-intro > div {
        width: 85%;
        height: 220px;
    }

    #step-details{
        margin-left: 0px;
    }

    .step-details{
        width: 45%;
    }
}